<%= turbo_frame_tag leprosorium do %>
  <div class="leprosorium">
    <%= link_to leprosorium.title,
                leprosorium_path(leprosorium),
                data: { turbo_frame: "_top" } %>
    <div class="leprosorium__actions">
      <%= button_to "Delete",
                    leprosorium_path(leprosorium),
                    method: :delete,
                    class: "btn btn--light" %>
      <%= link_to "Edit",
                  edit_leprosorium_path(leprosorium),
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>
