<main class="container">
  <%= link_to sanitize("&larr; Back to leprosoria"), leprosoria_path %>

  <div class="header">
    <h1>New leprosorium</h1>
  </div>

  <%= render "form", leprosorium: @leprosorium %>
</main>
